.card{
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 200px;
    background-color: #D9D9D9;
    box-shadow: 5px 5px 10px #d6d6d6;
    border-color: #d0d0d0 ;
    align-items: flex-start;
   
}

.card-text{
     margin-bottom: 10px;
}

.card-text-preco{
    margin-bottom: 15px;
    font-weight: bold;
}

.card-body{
  padding: 11px;
}

#botao {
    padding-left: 53px;
    padding-right: 53px;
    background-color: #1c1c1c;
    border: #1c1c1c;
    
}

#botao:hover{
    background-color: #5ce1e6;
}