.background{
    background-image: url(https://tudosobretapetes.com/img/tapete-de-sala-enigma-nasa-00x-90m-sao-carlos-tapetes-sao-carlos.png);
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.container-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 10px;
    box-shadow: 5px 10px 10px #929292;
}

.input{
  margin: 0 1rem 1rem 1.5rem;
}

.btn{
    margin-left: 6.5rem;
    background-color: #1c1c1c;
    border-color: #1c1c1c;
}

.btn:hover{
    background-color: #5CE1E6;
    border-color: #5CE1E6;
}

.erro{
    margin: 10px 70px 70px 0;
    border-radius: 5px;
    color: red;
}
